h1{
	font-family: impact;
	font-size: 75px;
	letter-spacing: 5px;
	border: 2px solid red;
	background: rgba(0,0,200,0.3);
  	color: white;
  	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  	border-radius: 10px;
  	padding: 3px 10px;
  	display: inline-block;
}
h2{
	font-family: impact;
	font-size: 40px;
	background: rgba(0,0,200,0.3);
	display: inline-block;
	color: white;
}

body{
	background-image: url("beerimg.png");
	background-size: cover;
}

button {
  font-family: impact;
  font-size: 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid rgba(0,0,200,0.6);
  background: rgba(0,0,200,0.3);
  color: red;
  box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  border-radius: 10px;
  padding: 3px 10px;
  display: inline-block;
  cursor: pointer;
}

p{
	font-family: 'helvetica neue', helvetica, sans-serif;
	font-size: 25px;
	font: bolder;

}
.col-sm-12{
	border: 2px solid rgba(0,0,200,0.6);
 	background: rgba(0,0,200,0.3);
	box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
  	border-radius: 10px;
  	padding: 3px 10px;
  	display: inline-block;
  	color: #fff2cc;
  }

.text{
	font-family: impact;
	font-size: 40px;
	background: rgba(0,0,200,0.3);
	display: inline-block;
	color: white;
}
h3{
	font-family: impact;
	font-size: 55px;
	background: rgba(0,0,200,0.3);
	display: inline-block;
	color: red;
}